ul{
	margin-left: 0;
	padding-left: 0;
}
li{
	list-style-type: none;
}
.card-page__wrapper{
	display: flex;
	flex-wrap: wrap;
}
.card-page__img{
	flex-basis: 30%;
	max-height: 60vh;
	display: flex;
	justify-content: center;
}
 .card-page__content{
 	flex-basis: 70%;
 	max-height: 80vh;
 }
 .card-page__title{
	margin: 40px 0;
 }
 .card-page__param{
 	line-height: 30px;
 }
