.search{
	margin: 10px auto;
	display: flex;
}
.search__button{
	background-color: #3172db;
	width: 85px;
	height: 42px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	border-radius: 0 5px 5px 0;
}
.search__button:hover{
	background-color: #fb5c3d;
}

.search__input {
	width: 500px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #ccc;
	padding-left: 10px;
	border-radius: 5px 0 0 5px;
}

