.header {
  background-color: #00d1b1;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 2em;
}
