.sidebar__wrapper{
	flex-basis: 20%;
	padding: 0 20px;
}
.center{
	text-align: center;
}
.sidebar__ul{
	margin: 40px 20px;
}
.sidebar__li{
	margin-top: 20px;
	color: #3172db;
}
.margin-top-20{
	margin-top: 20px;
}

